{%  extends 'backend/basee.html.twig' %}

{% block content %}

    <center>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">

                    <h4 class="m-t-0 header-title">Ajouter Categorie</h4>


                {{ form(Form)}}

            </div>
        </div>
    </div>
  
    </center>
{% endblock %}