

{%  extends 'backend/base.html.twig' %}


{% block content %}

    <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card-box table-responsive">









                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}